[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hglasso"]
	path = hglasso
	url = https://github.com/cran/hglasso
	shallow = true
	registered = true
